@font-face {
    font-family: light;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow-x: hidden;
}

nav{
    width: 100%;
    top: 50px;
    display: inline-block;
    font-family: 'mont', sans-serif;
}

#logo{
    width: 8%;
    margin: 15px 0 0 45px;
}

.menu-home{
    display: inline-block;
    position: absolute;
    width: 80%;
}

.profile{
    display: inline-block;
    position: absolute;
    text-align: center;
    right: -18%;
}

#img-profile{
    width: 10%;
    border-radius: 50%;
    margin: 15px 0 0 45px;
    display: block;
    transition: all .5s;
}

#img-profile:hover{
    transform: scale(125%);
    transition: all .5s;
}


nav ul{
    text-align: center;
    list-style: none;
    display: block;
    padding-top: 8px;
}

nav li i{
    display: flex;
    text-align: center;
    font-size: 3em;
}

nav li{
    display: inline-flex;
}

nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: all .5s;
    padding: 25px;
}

nav li a:hover{ 
    text-shadow: 0 0 40px white; 
    transition: all .5s;
}

.hr{
    display: inline-block;
    text-align: center;
    width: 100%;
}

hr:first-child{
    width: 96%;
    display: inline-block;
}

.langs{
    float: left;
    display: inline-flex;
    position: absolute;
    left: 80%;
    margin-top: 15px;
}

.langs button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    padding: 0 5px;
}

.langs button img{
    width: 40px;
    height: 40px;
    transition: all .5s;
}

.langs button img:hover{
    transform: scale(1.10);
    transition: all .5s;
}

.feed{
    height: 82vh;
    width: 700px;
    border-right: solid 1px white;
    border-left: solid 1px white;
    margin-left: 30%;
    position: fixed;
    font-family: 'mont', sans-serif;
    overflow-y: scroll;
}

.post{
    margin: 20px;
    border-bottom: solid 1px white;
    position: relative;
    height: 100px;
}

.img img{
    width: 80%;
    border-radius: 50%;
    margin: -15px 15px;
    display: block;
    position: absolute;
    transition: all .5s;
}

.img img:hover{
    transform: scale(115%);
    transition: all .5s;
}

.img{
    display: inline-block;
    position: relative;
    width: 100px;
}

.nick{
    display: inline-block;
    color: white;
    position: relative;
    font-weight: bolder;
}

.arroba{
    display: inline-block;
    position: relative;
    color: rgb(145, 145, 145);
}

.data{
    display: inline-block;
    color: white;
    position: relative;
}

.conteudo-post{
    width: 550px;
    margin: 20px 0 0 105px;
    display: inline-block;
    color: white;
    position: relative;
}

/*------------- barrel row---------------*/
::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background:#333;
}

::-webkit-scrollbar-thumb {
    background: rgb(157, 157, 157);
}

footer{
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 50px;
}

footer li{
    width: 24.8%;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    transition: all .5s;
    font-size: 20px;
    font-family: 'mont', sans-serif;
}

footer p:hover{ 
    text-shadow: 0 0 40px white; 
    transition: all .5s;
}

svg{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    fill: white;
}

@media screen and (max-width: 1550px){
    .profile{
        right: -22%
    }
}

@media screen and (max-width: 1450px){
    .profile{
        right: -25%
    }
}

@media screen and (max-width: 1310px){
    #logo{
        display: inline-block;
        position: relative;
        width: 25%;
        left: 30%;
    }
    .menu-home{
        display: inline-block;
        position: relative;
        left: 10%;
    }
    .langs{
        display: inline-block;
        position: relative;
        left: 30%;
    }
    .profile{
        display: inline-block;
        position: relative;
        left: 30%;
    }
    .hr{
        display: inline-block;
        position: relative;
    }
    .feed{
        margin-left: 5%;
        position: relative;
    }
    footer{
        position: absolute;
        display: none;
    }
    .conteudo-post p{
        width: 150px;
        display: block;
    }
}

@media (max-width: 62.5em){
    .feed{
        margin-left: 0;
        position: relative;
    }
}

@media (max-width: 470px){
    nav{
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    
    #logo{
        width: 5em;
        display: flex;
        margin-top: 10px;
    }

    .menu-home{
        display: flex;
    }

    .langs{
        display: inline-block;
        
    }

    .profile{
        visibility: hidden;
    }
}