@font-face {
    font-family: light;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow-x: hidden;
}

nav{
    width: 100%;
    top: 50px;
    display: inline-block;
    font-family: 'mont', sans-serif;
}

#logo{
    width: 8%;
    margin: 15px 0 0 45px;
}

.menu-home{
    display: inline-block;
    position: absolute;
    width: 80%;
}

.profile{
    display: inline-block;
    position: absolute;
    text-align: center;
    right: -18%;
}

#img-profile{
    width: 10%;
    border-radius: 50%;
    margin: 15px 0 0 45px;
    display: block;
    transition: all .5s;
}

#img-profile:hover{
    transform: scale(125%);
    transition: all .5s;
}

nav ul{
    text-align: center;
    list-style: none;
    display: block;
    padding-top: 8px;
}

nav li i{
    display: flex;
    text-align: center;
    font-size: 3em;
}

nav li{
    display: inline-block;
}

nav li a{
    color: #00FF0A;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: all .5s;
    padding: 25px;
}

nav li a:hover{ 
    text-shadow: 0 0 40px #00FF0A; 
    transition: all .5s;
}

.hr{
    display: inline-block;
    text-align: center;
    width: 100%;
}

hr{
    width: 96%;
    display: inline-block;
    border-color: #00FF0A;
}

.langs{
    float: left;
    display: inline-flex;
    position: absolute;
    left: 80%;
    margin-top: 15px;
}

.langs button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    padding: 0 5px;
}

.langs button img{
    width: 40px;
    height: 40px;
    transition: all .5s;
}

.langs button img:hover{
    transform: scale(1.10);
    transition: all .5s;
}

.content{
    margin-top: 200px;
    display: inline;
    text-align: center;
    width: 80%;
}

.content h1{
    font-size: 143px;
    display: block;
    font-family: 'mont', sans-serif;
    text-transform: uppercase;
    color: #00FF0A;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 75px;
}

.container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;

}

.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #0e0e0e;
    transform: translate(5px,5px);
}

.container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    /* 360deg / 100 = 3.6*/
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--clr);
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    font-family: 'mont', sans-serif;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}

.number p{
    font-weight: 300;
    font-size: 1em;
    line-height: 2px;
    margin-top: 5px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
}

footer{
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 50px;
}

footer li{
    width: 24.8%;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
}

footer a{
    color: #00FF0A;
    text-decoration: none;
}

footer p{
    transition: all .5s;
    font-size: 20px;
    font-family: 'mont', sans-serif;
}

footer p:hover{ 
    text-shadow: 0 0 40px #00FF0A; 
    transition: all .5s;
}

svg{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    fill: #00FF0A;
}