@font-face {
    font-family: light;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow-x: hidden;
}

nav{
    width: 100%;
    top: 50px;
    display: inline-block;
    font-family: 'mont', sans-serif;
}

#logo{
    width: 8%;
    margin: 15px 0 0 45px;
}

.menu-home{
    display: inline-block;
    position: absolute;
    width: 80%;
}

.profile{
    display: inline-block;
    position: absolute;
    text-align: center;
    right: -18%;
}

#img-profile{
    width: 10%;
    border-radius: 50%;
    margin: 15px 0 0 45px;
    display: block;
    transition: all .5s;
}

#img-profile:hover{
    transform: scale(125%);
    transition: all .5s;
}

nav ul{
    text-align: center;
    list-style: none;
    display: block;
    padding-top: 8px;
}

nav li i{
    display: flex;
    text-align: center;
    font-size: 3em;
}

nav li{
    display: inline-block;
}

nav li a{
    color: #FF00D6;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: all .5s;
    padding: 25px;
}

nav li a:hover{ 
    text-shadow: 0 0 40px #FF00D6; 
    transition: all .5s;
}

.hr{
    display: inline-block;
    text-align: center;
    width: 100%;
}

hr{
    width: 96%;
    display: inline-block;
    border-color: #FF00D6;
}

.langs{
    float: left;
    display: inline-flex;
    position: absolute;
    left: 80%;
    margin-top: 15px;
}

.langs button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    padding: 0 5px;
}

.langs button img{
    width: 40px;
    height: 40px;
    transition: all .5s;
}

.langs button img:hover{
    transform: scale(1.10);
    transition: all .5s;
}

.content{
    margin-top: 200px;
    display: inline;
    text-align: center;
    width: 80%;
}

.content h1{
    font-size: 143px;
    display: block;
    font-family: 'mont', sans-serif;
    text-transform: uppercase;
    color: #FF00D6;
}

.content h3{
    display: block;
    font-family: 'mont', sans-serif;
    text-transform: uppercase;
    color: #FF00D6;
}

.wrapper{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'mont', sans-serif;
    color: #fff;
}

.subcard{
    background: linear-gradient(90deg, #880fc4 0%, #1d39f2 100%);
    border-radius: 15px;
    margin: 0 25px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.card{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: all 1s;
}

.card img{
    height: 90px;
    width: 90px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}

.card p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
    transition: all 0.3s;
}

.card h2{
    font-weight: 500;
    margin-bottom: 4px;
    transition: all 0.3s;
}

.card h4{
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s;
}

.card svg{
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #b2bec3;
}

.card:hover{
    transform: scale(1.4);
    color: #333;
    background: #fff;
    z-index: 100;
    border: 5px solid #880fc4;
}

.card:hover h4{
    color: #333;
}

/* Responsive */

@media(max-width: 768px){
    .cards{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card{
        margin: 20px 0;
    }
}















footer{
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 50px;
}

footer li{
    width: 24.8%;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
}

footer a{
    color: #FF00D6;
    text-decoration: none;
}

footer p{
    transition: all .5s;
    font-size: 20px;
    font-family: 'mont', sans-serif;
}

footer p:hover{ 
    text-shadow: 0 0 40px #FF00D6; 
    transition: all .5s;
}

svg{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    fill: #FF00D6;
}
