@font-face{
    font-family: "fontemaneira";
    src: url("../fonts/amelie.ttf");
}




body{
    background-color:#001635;
   
}


.introducao{
    margin-top: 100px;
}

.container{
    text-align: center;
    float: right;
    position: absolute;
    display: block;
    right: 100px;
    margin-top: 250px;
}




h1{
    font-family: Helvetica;
    color: red;
    font-size: 70px;
}

p{
    margin-top: -95px;
    font-size: 60px;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: white;
    font-family: fontemaneira;
}

.btn{
    background: red;
    border-radius: 25px;
    padding: 5px;
    width: 40%;
    border: none;
    font-size: 25px;
    font-family: Helvetica;
    cursor: pointer;
}

.btn:hover{
    transition: all .5s;
    color: red;
    background: white;
    
}

img{
    width: 30%;
    display: block;
    float: left;
    position: relative;
    margin-left: 50px;
    margin-top: 250px;
}


/* @media only screen and (min-width:400px){


body{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

.introducao{
        margin-top: 80px;
        margin-bottom:80px;

}

.container{
        margin-top: 100px;
        align-items: center;
        justify-content: center;  
}


    img{
        padding-right: 50%;
        width: 60%;
        display: block;
        margin: 0px 0 0 120px;

    }

h1{
    
    font-family: Helvetica;
    color: red;
    font-size: 70px;
    margin-left: 120px;
}
   
p{
     margin-top: -95px;
     font-size: 60px;
     margin-left: 120px;
     text-transform: lowercase;
     letter-spacing: 2px;
     color: white;
     font-family: fontemaneira;
}

.btn {
    background: red;
    border-radius: 25px;
    padding: 5px;
    width: 40%;
    margin-left: 120px;
    margin-bottom: 5px;
    border: none;
    font-size: 25px;
    font-family: Helvetica;
    cursor: pointer;
}




} */