*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    color: white;
    font-family: Helvetica;
}

.all{
    background-image: url(../images/child-1721906_1920.jpg);
    background-size: cover;
    margin-top: -45px;
    width: 100%;
    height: 1000px;  
}

.login{
    width: 100%;
    opacity: 0.9;
    background-color: black;
    height: 300px;
    float: left;
    z-index: 1;
    margin-top: 18%;
    display: inline-block;
    text-align: center;
}

.logo{
    background-image: url(../images/AZ\ automatizeit\ -\ fundo\ escuro_V4.png);
    height: 200px;
    width: 200px;
    display: inline-block; 
}

.grid{
    margin: 50px 0 50px 0;
    height: 20px;
}

.logo-login{
    width: 100%;
    margin-bottom: 125px;   
}

.painel-login{
    height: 200px;
    width: 400px;
    display: inline-block;
    color: white;
    font-family: Helvetica;
    text-align: left;
    margin-left: 100px;
}

.painel-login input{
    width: 200px;
    color: black;
}

.painel-login h6, .painel-login input{
    display: inline-block;
}

.painel-login input:nth-of-type(2){
    margin-left: 6px;
}

.painel-login button{
    width: 200px;
    margin-left: 45px;
    background-color: #FDA802;
    border: none;
    border-radius: 15px;
    font-size: 23px;
    transition: all .3s;
}

.painel-login button:hover{
    background-color: #D68E00;
    transition: all .3s;
    color: black;
}

