*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #35B2ED;
}

.login-panel{
    background-color: white;
    width: 400px;
    height: 400px;
    margin-top: 250px;
    margin-left: 750px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

}

.info{
    width: 100%;
}

.main-login{
    width: 100%;
    height: 100vh;
    color: black;
    background: linear-gradient(107deg, rgba(17,178,185,1)  0%, rgba(53,34,134,1) 50%, rgba(117,30,136,1) 100%);
    background-size: 400% 400%;
    position: relative;
}

.login-panel i{
    color: black;
    font-size: 3em;
    text-align: center;
    padding: 4px;
    margin: 40px 0 20px 40px;
}

.input-usuario, .input-senha{
    width: 67%;
    height: 60px;
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    color:black;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
    padding: 0;
}

.input-usuario::-webkit-input-placeholder, .input-senha::-webkit-input-placeholder{
    color: black;
    font-size: 36px;
}

.input-usuario:focus, .input-senha:focus, .btn-login:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 3px solid black;
}


.log-2{
    display: inline-block;
    padding-left: 21%;
    text-align: left;
    font-family: helv;
    letter-spacing: 1px;
}

.log-2 a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-login{
    margin: 60px 0 0 125px;
    background-size: 400% 400%;
    border-radius: 15px;
    display: inline-block;
    width: 40%;
    color: white;
    border: none;
    padding: 5px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    background-color: black;
    cursor: pointer;
}

.login-alt{
    text-align: center;
    margin: 25px 0 0 0;
    animation: op2 2500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.btn-face:focus, .btn-google:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn-login:focus{
    border-bottom: none;
}

.btn-face{
    width: 1.6em;
    height: 1.6em;
    font-size: 3em;
    color: white;
    padding: 15px;
    display: flex;
    border: none;
}

.btn-face,.btn-google{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-flex;
    margin: 0 10px 0 10px;
    transition: all .3s;
}

.btn-face:hover{
    background-color: #4267B2;
}

.btn-google:hover{
    background-color: #DD5144;
}

.btn-google{
    width: 1.7em;
    height: 1.7em;
    padding: 15px;
    font-size: 3em;
    color: white;
    padding: 15px;
    display: inline;
    border: none;
}


.btn-face i{
    margin-left: 6px;
}

@keyframes op1{
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
}

@keyframes op2{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    
    100%{
        background-position: 0 50%;
    }
}

