@font-face {
    font-family: light;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow-x: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
}

nav{
    width: 100%;
    top: 50px;
    display: inline-block;
    font-family: 'mont', sans-serif;
}

#logo{
    width: 8%;
    margin: 15px 0 0 45px;
}

.menu-home{
    display: inline-block;
    position: absolute;
    width: 80%;
}

.profile{
    display: inline-block;
    position: absolute;
    text-align: center;
    right: -18%;
}

#img-profile{
    width: 10%;
    border-radius: 50%;
    margin: 15px 0 0 45px;
    display: block;
    transition: all .5s;
}

#img-profile:hover{
    transform: scale(125%);
    transition: all .5s;
}

nav ul{
    text-align: center;
    list-style: none;
    display: block;
    padding-top: 8px;
}

nav li i{
    display: flex;
    text-align: center;
    font-size: 3em;
}

nav li{
    display: inline-block;
}

nav li a{
    color: #FFE600;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: all .5s;
    padding: 25px;
}

nav li a:hover{ 
    text-shadow: 0 0 40px #FFE600; 
    transition: all .5s;
}

.hr{
    display: inline-block;
    text-align: center;
    width: 100%;
}

hr{
    width: 96%;
    display: inline-block;
    border-color: #FFE600;
}

.langs{
    float: left;
    display: inline-flex;
    position: absolute;
    left: 80%;
    margin-top: 15px;
}

.langs button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    padding: 0 5px;
}

.langs button img{
    width: 40px;
    height: 40px;
    transition: all .5s;
}

.langs button img:hover{
    transform: scale(1.10);
    transition: all .5s;
}

.content{
    margin-top: 200px;
    display: inline;
    text-align: center;
    width: 80%;
}

.content h1{
    font-size: 143px;
    display: block;
    font-family: 'mont', sans-serif;
    text-transform: uppercase;
    color: #FFE600;
}

.square{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFE600;
    font-family: 'mont', sans-serif;
    margin: 20px;
}

.square:hover .skill{
    z-index: 1000;
    color: black;
    cursor: pointer;
}

.skill{
    color: #FFE600;
}

.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #FFE600;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1){
    background-color: #FFE600;
    opacity: 0.8;
    border: none;
    color: black;
    transition: 0.5s;
}

.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #FFE600;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.square:hover span:nth-child(2){
    background-color: #FFE600;
    opacity: 0.8;
    border: none;
    color: black;
    transition: 0.5s;
}

.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #FFE600;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.square:hover span:nth-child(3){
    background-color: #FFE600;
    opacity: 0.8;
    border: none;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#janela-vba, #janela-python, #janela-editor, #janela-htmlcss, #janela-design, #janela-javascript, #janela-copy{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border: 10px solid #FFE600;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
}

#janela-vba, #janela-python, #janela-editor, #janela-htmlcss, #janela-design, #janela-javascript, #janela-copy h2{
    color: #FFE600;
}

#janela-vba.active, #janela-python.active, #janela-editor.active, #janela-htmlcss.active, #janela-design.active, #janela-javascript.active, #janela-copy.active{
    transform: scale(1);
}

#janela-vba.desactive, #janela-python.desactive, #janela-editor.desactive, #janela-htmlcss.desactive, #janela-design.desactive, #janela-javascript.desactive, #janela-copy.desactive{
    transform: scale(0);
}

#fechar-janela{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FFE600;
    z-index: 1;
    cursor: pointer;
    text-align: center;
}

#fechar-janela h1{
    color: black;
    font-size: 36px;
    padding: 5px;
    font-family: 'mont', sans-serif;
}

.content-janela{
    width: 90%;
    height: 90%;
    font-family: light;
    font-family: 'Courier New', Courier, monospace;
}

.content-janela .card{
    border: #FFE600 solid 2px;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 300px;
    display: inline-flex;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    transition: .3s all;

}

.content-janela .card-reduce{
    border: #FFE600 solid 2px;
    border-radius: 25px;
    padding: 20px;
    width: 150px;
    height: 125px;
    display: inline-flex;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    transition: .3s all;

}

.content-janela .card:hover, .content-janela .card-reduce:hover{
    transition: .3s all;
    color: black;
    background-color: #FFE600;
    transform: scale(110%);
    cursor: pointer;
}

.content-janela .card .descricao{
    width: 100%;
    height: 20px;
    display: inline-flex;
    
}

.content-janela .card h3{
    font-family: 'Courier New', Courier, monospace;
}

.content-janela .card .imagem{
    width: 100%;
    height: 80%;
    display: inline-block;
}

.content-janela .card .imagem img{
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
    color: #FFE600;
}

/********** tirar dps ********/

nav ul,.profile,.langs{
    visibility: hidden;
}

/*------------- barrel row---------------*/
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background:#333;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 10px #FFE600, 0 0 20px #FFE600, 0 0 40px #FFE600;
    background: #FFE600;
} 

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}



footer{
    display: inline-block;
    width: 100%;
 
    left: 0;
    
    height: 30px;
    position: relative;
    bottom: -13vh;
}

footer li{
    width: 24.8%;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
}

footer a{
    color: #FFE600;
    text-decoration: none;
}

footer p{
    transition: all .5s;
    font-size: 20px;
    font-family: 'mont', sans-serif;
}

footer p:hover{ 
    text-shadow: 0 0 40px #FFE600; 
    transition: all .5s;
}

svg{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    fill: #FFE600;
}

@media (max-width: 900px){
    nav{
        text-align: center;
    }

    #logo{
        width: 8em;
        margin: 15px 0 0 0;
        display: inline;
    }

    .content{
        align-items: center;
        flex-direction: column;
    }

    .content h1{
        font-size: 3rem;
        margin-top: 15px;
    }

    .content .square{

        display: inline-flex;
        align-items: center;
    }

    footer{
        bottom: 50px;
        display: inline-block;
        text-align: center;
        top: 15vh;
    }

    footer ul{
        display: inline-block;
        align-items: center;
        
    }

    footer li{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}